﻿.grad {
    background-color: #3DA0D9;
  background: #3DA0D9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3DA0D9, white, #3DA0D9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3DA0D9, white, #3DA0D9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3DA0D9, white, #3DA0D9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3DA0D9, white, #3DA0D9); /* Standard syntax */
}    
.button-link {
        padding: 10px 15px;
        background: white;
        color: #3DA0D9;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: solid 1px #999;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        text-decoration: none;
        font-family: arial;
        font-size: 19px;
    }
    .button-link:hover { background: whitesmoke; border: solid 1px #999; text-decoration: none; cursor: pointer; cursor: hand; }

    .button-link:active { -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); background: lightblue; border: solid 1px #999; text-decoration: none; }

    .gvItemCenter { text-align: center; }

    .gvHeaderCenter { text-align: center; background-color: white; color: #3DA0D9; font-size: 30px; }

    body { margin: 0; padding: 0; font-family: Verdana; background-color: white; }

    .modal { position: fixed; z-index: 999; height: 100%; width: 100%; top: 0; background-color: Black; filter: alpha(opacity=60); opacity: 0.6; -moz-opacity: 0.6; }

    .center { z-index: 1000; margin: 300px auto; padding: 10px; width: 400px; background-color: White;  }

    .LabelWhite { text-decoration: none; Color: White; font-size: 18px; }

    .Main-HeaderWhite { text-decoration: none; Color: White; font-weight: bold; font-size: 30px; }

    .Main-HeaderWhiteTime { text-decoration: none; Color: White; font-weight: bold; font-size: 10px; }

    .Main-HeaderWhite-Underlined { text-decoration: none; Color: White; font-weight: bold; font-size: 30px; text-decoration: underline; }
    
    .divPoll { background: white; margin-left: 6px; padding-top: 10px; padding-right: 0; padding-left: 0; font-size: 10pt; height: 120px; text-align: center; vertical-align: middle; }

    .divTask { background: white; margin-left: 6px; padding-top: 10px; padding-right: 0; padding-left: 0; font-size: 10pt; height: 70px; text-align: center; vertical-align: middle; border-bottom: none; }

    .divBorder { background: white; height: 150px; margin-left: 1px; margin-left: 7px; }

    .divBorderThin { background: white; height: 45px; margin-left: 1px; margin-left: 7px; }
    
   .greenBorder { border: #1B988A solid 1px; }
   .amberBorder { border: #FAA919 solid 1px; }
   .redBorder { border: #EE2059 solid 1px; }
   .blueBorder { border: #3DA0D9 solid 1px; }
   .whiteBorder { border: white solid 1px; }
   
   .greenCorner{ background: #1B988A; background: linear-gradient(135deg, transparent 30px, #1B988A 0); text-align: center}
   .amberCorner{ background: #FAA919; background: linear-gradient(135deg, transparent 30px, #FAA919 0); text-align: center}
   .redCorner{ background: #EE2059; background: linear-gradient(135deg, transparent 30px, #EE2059 0); text-align: center}
   .blueCorner{ background: #3DA0D9; background: linear-gradient(135deg, transparent 30px, #3DA0D9 0); text-align: center}
   .WhiteCorner{ background: white; background: linear-gradient(135deg, transparent 30px, white 0); text-align: center}

   


    

    


    
    
